@model Models.EF.exam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="post-details-content mb-100">
                    <div class="blog-thumbnail mb-50">
                        <img src="@Model.image" alt="">
                    </div>
                    <div class="blog-content">
                        <a href="#" class="post-tag">Exam - Cuoc thi nau an </a>
                        <h4 class="post-title">@Model.name</h4>
                        <div class="post-meta mb-50">
                            <a href="#" class="post-date">@Model.start_at</a>
                            <a href="#" class="post-author">@Model.finish_at</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique justo id elit bibendum pharetra non vitae lectus. Mauris libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu tempus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac tincidunt nunc. Cras sed mollis erat. Quisque risus lorem, mattis nec nisl a, efficitur faucibus ligula. Nulla facilisi. Integer sodales, metus nec finibus lobortis, ex justo pharetra quam, vel vehicula urna turpis ut risus. Sed dignissim erat sapien, non malesuada justo cursus nec. Nunc porta pulvinar varius.</p>

                        <p>Suspendisse nisl leo, gravida quis tortor at, ornare commodo neque. Donec tortor turpis, pharetra et pulvinar vitae, ullamcorper et mi. Sed eu magna aliquam, suscipit massa sit amet, mattis augue. Nam ut tortor ut ligula molestie feugiat vitae et nulla. Sed porta erat vitae leo pellentesque malesuada. In sollicitudin, massa euismod aliquet volutpat, enim metus varius dui, vestibulum efficitur ante velit non nisi. Cras varius bibendum sapien, id tincidunt velit placerat id. Nunc vitae facilisis nunc. Suspendisse ut felis sagittis mauris faucibus tincidunt vitae id tortor. Nullam tincidunt finibus turpis, a accumsan mauris laoreet cursus. Phasellus pharetra odio sapien, id suscipit nisi lobortis ut.</p>

                        <p>Duis posuere odio vitae neque egestas luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer risus neque, sollicitudin pharetra pulvinar a, imperdiet porttitor nunc. Aenean pretium, libero eu pulvinar commodo, lorem enim bibendum est, vel suscipit est mi non tortor. Vestibulum sit amet pretium tortor. Donec posuere, dui quis dictum hendrerit, odio mauris aliquam lacus, eu egestas libero risus vel nisi. Proin condimentum varius lectus sed dapibus. Etiam nec iaculis est.</p>
                    </div>
                </div>

                <!-- Comment Area Start -->
                <div class="comment_area clearfix mb-100">
                    
                    
                </div>

                <div class="post-a-comment-area mb-30 clearfix">
                    <h4 class="mb-50">Đăng ký tham gia</h4>

                    <a href="@Url.Action("register","Exams", new {id = ViewBag.examsID })">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</section>