@model Models.EF.exam

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Exam</h4>
                            <p class="card-category">Details</p>
                        </div>
                        <div class="card-body table-responsive">
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.content)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.content)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.start_at)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.start_at)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.finish_at)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.finish_at)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.image)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.image)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>
                </div>
            </div> 
        </div>
    </div>